<%#
  <% if session[:user_id] %>

<!DOCTYPE html>
<html lang="en">
<head>
<title>Main</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<style>
.btn100 {
  background-color: DodgerBlue;
 border: none;
 color: white;
 padding-left: 8px;
 padding-right:8px;
 font-size: 24px;
 cursor: pointer;
}

.btn10 {
  background-color: white;
 border: none;
 color: #ff4d94;
 padding-left: 8px;
 padding-right:8px;
 font-size: 24px;
 cursor: pointer;
}

.btn10:hover {
  background-color: #ffd480;
}

/* Darker background on mouse-over */
.btn100:hover {
  background-color: RoyalBlue;
}
</style>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style=" background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-dark bg-dark  " style="height: min-content;">


    <%= render partial:"shared/navbar" %>



</nav>

<div class="container h-100 d-flex justify-content-center" style="margin-top: 1vh;">
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row" style=" height:calc(100% - 100px); width:150vh; ">
        <div class="col-md-4" >


          <form class="d-flex" method="GET" action="main" style="margin-top:30px;">

            <div class="input-group" >

              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="search" />
              <button type="submit" class="btn btn-outline-primary"><b>Search for a post</b></button>

             </div>
         </form>

         <br>
         <h4> Public Rooms </h4>
         <%= render partial: "layouts/new_room_form" %>
         <div>
         <%= turbo_stream_from "rooms" %>
          <div id="rooms">
            <%= render @rooms %>
          </div>
        </div>
         <h4> Friends </h4>
         <%= render partial:"users/user" %>



        </div>
  <div class="col-md-8" >
     <div class="posts" id="post_section" style="margin-top :5em;">

          <% @posts.each do |post| %>
             <div class="shadow-lg p-3 mb-5 bg-white rounded" style="background: rgba(185, 203, 189, 0.1);">

                 <div class="title">
                     <h2><%= post.title %></h2>
                 </div>
                 <div class="body-trunc">
                     <p><%= post.content %></p>
                 </div>
                 <div class="body-trunc">
                 <% if post.image.attached? %>
                    <image src ="<%=(url_for(post.image))%>" width="500" height="250">
                 <% end %>
                 <br>

                 </div>


                   <!-- <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" color="red" fill="currentColor" class="bi bi-arrow-through-heart" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z"/>
                </svg> -->
                  <!-- <i class="fa fa-heart" style="height:20px; color:red;" aria-hidden="true"> -->

                  <!-- </i> -->


                    <div class="btn-group" >

                        <%= button_to raw("<i class=\"fa fa-thumbs-up\"></i>"),
                                    like_path(:post_id => post.id, :user_id => session[:user_id]),
                                    class: "btn10" %>

                        <button class="btn100" data-toggle="modal" data-target="#<%= post.id %>">
                                      <%= post.likes.count %>
                        </button>

                    </div>







                <!-- Modal -->
                <div class="modal fade" id="<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Post Likes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% post.likes.each do  |l|%>

                          <% if l.user.id != session[:user_id] %>
                             <div class="row" style="height: 80px;">

                               <div class="col">
                                 <% if l.user.avatar.attached? %>
                                    <image src ="<%=(url_for(l.user.avatar))%>" width="30px;" height="30px;" class="img-circle" >
                                 <% end %>
                                   <h4><%= l.user.username %></h4>
                                </div>
                              <% if  Invitation.reacted(session[:user_id],l.user.id)==false %>
                                <div class="col">
                                  <%= button_to raw("<i class=\"fa fa-meetup\"></i>"),
                                              send_invitation_path(:id1 => session[:user_id], :id2 =>l.user.id),
                                              class: "btn100" %>


                                  </div>
                                  <% end %>
                              </div>
                              <% end %>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                      </div>
                    </div>
                  </div>
                </div>


                 <!-- {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',
                  class: 'btn btn-primary btn-lg'}  %> -->










             </div>
             <% end %>







         </div>
       </div>

    </div>
</div>
</div>


</body>
</html>


<% else %>

  <% controller.redirect_to home_path%>


<% end %> %>
